* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.home {
    background-image: url(vergiil.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.firewall-background {
  background-color: midnightblue;


}

li, a, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.logo {
    width: 150px;
    cursor: pointer;
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}


button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    color: black;
}

.welcome {
    text-align: center;
    padding: 30px;
    font-size: 7rem;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(8, 0, 255), rgb(110, 95, 194));
    background-clip: text;
    color: transparent;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.souljas {
display: block;
border-radius: 10px;
  margin: auto;
  width: 50%;
}

.vergil {
    display: block;
    margin: auto;
    width: 20%;
}








.download-list {
      max-width: 900px;
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .download-row {
      display: grid;
      grid-template-columns: 80px 1fr;
      align-items: center;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      padding-bottom: 20px;
    }

    .icon img {
      width: 100px;   /* adjust size */
      height: 100px;
      object-fit: contain;
    }

    .location {
      text-align: center;
    }

    .title a {
      font-weight: bold;
      font-size: 20px;
      color: gold;
      text-decoration: none;
      transition: 0.2s;
    }

    .title a:hover {
      color: orange;
      text-decoration: underline;
    }

    .description {
      font-style: italic;
      font-size: 20px;
      color: #aaa;
      padding: 15px;
    }

    .nasha {
        display: flex;
        justify-content: center;
        width: 30%;
        margin: auto;
    }

    .container {
  display: flex;              /* side by side */
  justify-content: center;    /* center them */
  gap: 60px;                  /* space between images */
}

.nasha {
  width: 250px;               /* adjust size as needed */
  height: auto;
}